{% extends "index.html" %}
{% block content %}
<div class="position-absolute top-0 start-50 translate-middle-x">
    <img class="image-fluid" src="/static/photos/FoxfireFarmPhotos.png" style="width:100%;">
    <p>We are Aaron and Irina Lange, the faces behind Foxfire Farm.</p>
    <p>Aaron grew up on the farm and Irina worked at the farm through her teen years. Aaron went to college, Irina did volunteer work and traveled for a couple years, and we both found ourselves back home after our adventures. We fell in love, got married this year, and now we are taking on the family farm.</p>
    <p>One of the new things we started this year is our weekly delivery boxes "Foxfire to Your Kitchen." We want you to have access to fresh, organic veggies straight from the farm to your table.</p>
    <p>You can also find our produce at Good Foods Coop in Lexington, Rainbow Blossom in Louisville, Berea College Farm Store in Berea, Boyle County Farmer's Market in Danville, and Lavern's Country Market in Liberty. </p>
    <p>Thank you for being here and following along our farming journey!</p>
</div>
{% endblock content %}