{% extends "admin_index.html" %}
{% block content %}
<p>Cycling the Google sheet will archive all orders in the current "Orders" sheet.</p>
<p>Adding new products will result in new header Titles on the next row of the Google Sheets "Orders" page. This is to prevent new products from messing up the columns and totals</p>
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-check mt-2 mb-2" style="font-size:1em; text-align:left;">
            {{ form.set_toggle(class="form-check-input", checked=False) }}
            {{ form.set_toggle.label(class="form-check-label") }}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </div>
</form>
<a class="btn btn-primary btn-lg mt-1" target="_blank" href="{{url_for('driver_form_week')}}">Driver Form</a>
<hr />
<h3>Click image to print label</h3>
<div class="row">
{% for label in labels %}
    <div class="col-md-4 mt-3 col-lg-2">
        <img src="{{url_for('static', filename='labels' + '/' + label) }}" onclick="printImage('{{url_for('static', filename='labels' + '/' + label) }}')" href="javascript:void(0)" width="100%" height="100%" />
        <p><input type="submit" value="Delete" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#{{label.replace('.', '_').replace('(P)', '_')}}"></p>
    </div>
    <div class="modal fade" id="{{label.replace('.', '_').replace('(P)', '_')}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a class="btn btn-primary" href="static/labels/{{label}}/delete">delete</a>
            </div>
          </div>
        </div>
    </div>
{% endfor %}
</div>

<script>
function printImage(imageSrc) {
  var win = window.open('');
  win.document.write('<html><head><title>Print Image</title></head><body>');
  win.document.write('<img src="' + imageSrc + '" onload="window.print();window.close()" />');
  win.document.write('</body></html>');
}
</script>




{% endblock content %}
