{% extends "index.html" %}
{% block content %}
<div>
    <div>
        <h2>Products</h2>
        <p>All products are certified organic, unless otherwise stated.</p>
        <p>Ordering is open from Monday morning until Wednesday at 6PM</p>
        <p>Click the images for more information.</p>
    </div>
    <div class="row">
        {% for veggie in item_matrix %}
        <div class="col-md-4 mt-3 col-lg-2" style="min-width: 300px; min-height: 250px;">
            {% if veggie.veg_url %}<a href="{{veggie.veg_url}}" target="_blank">
            {% else %}
            {% endif %}
            {% if veggie.veg_image != 'nia.png' %}
              <img src="/static/uploads/{{ veggie.veg_image }}"/>
            {% else %}
              <img src="{{url_for('static', filename='nia.png')}}"/>
            {% endif %}</a>
            <p>{{veggie.veg_name}} - ${{veggie.veg_price}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}